{% extends 'base.html.twig' %}

{% dump draws %}

{% block body %}
    <header>
        <h1>Tirages Euromillions</h1>
    </header>
    <main>
        <div class="draws">
            {% for draw in draws %}
                <section class="draw">
                    <div class="draw-picture">
                        <img src="{{ asset('build/images/euromillions.png') }}" alt="Euromillions">
                    </div>
                    <div class="draw-contents">
                        <h2>Tirage du {{ draw.drawn_at|format_date('full') }}</h2>
                        <p class="subtitle">Résultats EuroMillions - My Million</p>
                        <ul class="results">
                            {% for result in draw.results %}
                                <li class="{{ result.type }}">{{ result.value }}</li>
                            {% endfor %}
                        </ul>
                        <ul class="addons">
                            {% for addon in draw.addons %}
                                <li>
                                    <span class="type">My Million</span>
                                    <span class="value">{{ addon.value }}</span>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </section>
            {% endfor %}
        </div>
    </main>
{% endblock %}
